/********** Element Styling **********/
body {
    margin: 0;
    border:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: em;

    /* background-color: gray; */
}

h1 {
    margin: 0;
    border: 0;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
    border:0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



/********** Class Styling **********/
.row {
    width: 100 ;
}

.title {
    text-align: center;
}



/********** ID Styling **********/
#box {
    margin: 10px 20px;
    border: 2px black solid;
    padding: 0px 0px;
    background-color: #3D314A;
    /* width: 400px; */
}

#content_box_1 {
    margin:0px;
    border:1px black solid;
    padding:10px;
    background-color: #96705B;
    float: right;
}

#content_box_2 {
    margin:0px;
    border:1px black solid;
    padding:10px;
    background-color: #AB8476;
    float: right;
}

#content_box_3 {
    margin:0px;
    border:1px black solid;
    padding:10px;
    background-color: #684756;
    float: right;
}

#content_title{
    margin:0px;
    border:0px;
    padding:0px;
    width: 150px;
    /* background-color: yellow; */
    text-align: center;
}

#description{
    margin: 0px 10px;
    border:0;
    padding: 20px 0px;
    clear:right;
    text-align: left;
}



/********** Define Desktop Dimensions **********/
@media (min-width: 992px) {
    .col-lg-1,.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        /* background-color: #1A1423; */
        }


/********** X Column will cover Y percentage of screen **********/
        .col-lg-1 {
            width: 8.33% ;
    }
        .col-lg-2 {
            width: 16.66% ;
        }

        .col-lg-3 {
            width: 25% ;
        }

        .col-lg-4 {
            width: 33.33% ;
        }

        .col-lg-5 {
            width: 41.66% ;
        }

        .col-lg-6 {
            width: 50% ;
        }

        .col-lg-7 {
            width: 58.22% ;
        }

        .col-lg-8 {
            width: 66.66% ;
        }

        .col-lg-9 {
            width: 75% ;
        }

        .col-lg-10 {
            width: 83.33% ;
        }

        .col-lg-11 {
            width: 91.66% ;
        }
        .col-lg-12 {
            width: 100%;
        }
}

/********** Define Tablet Dimensions **********/
@media (min-width: 768px) and (max-width: 991px) { 
    .col-md-1,.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        border: 1px black;
        /* background-color: orange; */
    }
/********** X Column will cover Y percentage of screen **********/
    .col-md-1{
        width: 8.33% ;
    }

    .col-md-2{
        width: 16.66% ;
    }

    .col-md-3{
        width: 25% ;
    }

    .col-md-4{
        width: 33.33% ;
    }

    .col-md-5{
        width: 41.66% ;
    }

    .col-md-6{
        width: 50% ;
    }

    .col-md-7{
        width: 58.33% ;
    }

    .col-md-8{
        width: 66.66% ;
    }

    .col-md-9{
        width: 75% ;
    }

    .col-md-10{
        width: 83.33% ;
    }

    .col-md-11{
        width: 91.66% ;
    }

    .col-md-12{
        width: 100% ;
    }

}

/********** Define Mobile Dimensions**********/
@media (max-width: 767px) {
    .col-sm-1,.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        border: 1px black;
        /* Below line will set the background color to yellow. Only used while building the assignment to diferentiate between media sizes */
        /* background-color: yellow; */
    }

    /********** X Column will cover Y percentage of screen **********/
    .col-sm-1{
        width: 8.33% ;
    }

    .col-sm-2{
        width: 16.66% ;
    }

    .col-sm-3{
        width: 25% ;
    }

    .col-sm-4{
        width: 33.33% ;
    }

    .col-sm-5{
        width: 41.66% ;
    }

    .col-sm-6{
        width: 50% ;
    }

    .col-sm-7{
        width: 58.33% ;
    }

    .col-sm-8{
        width: 66.66% ;
    }

    .col-sm-9{
        width: 75% ;
    }

    .col-sm-10{
        width: 83.33% ;
    }

    .col-sm-11{
        width: 91.66% ;
    }

    .col-sm-12{
        width: 100% ;
    }
}